.medidor-card {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 375px; 
    position: relative;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding-bottom: 7.5px;
    padding-inline: 5px;
}

.card-total-dia {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    border-radius: 16px;
    box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    padding: 10px 15px;
    width: 340px; 
    height: 130px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-left: 8px solid #ccc;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

.total-dia-content-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.total-dia-title{
    margin-block: 5px;
    color: #555;
    text-align:left;
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
}

.total-dia-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.total-dia-number {
    font-size: 2.2rem;
    font-weight: 800;
    color: #333;
    margin: 0;
    line-height: 1.1;
}

.total-dia-right-breakdown {
    background-color: #e2e2e2;
    display: flex; 
    flex-direction: column; 
    min-width: 100px;
    border-radius:10px;
    padding: 5px;
}

.breakdown-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.breakdown-item span {
    margin-right: 8px;
    color: #777;
}

.progressBar-container{
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 12px;
    overflow: hidden;
    margin-inline: 5px;
}

.progressBar {
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease-in-out, background-color 0.5s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.vertical-div {
    width: 3px;
    height: 75px;
    background-color: #bebebe;
}

.total-dia-container{
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    gap: 45px;
}